@charset "utf-8";

$ThaiR: 'ThaiSans-Regular';
$ThaiB: 'ThaiSans-SemiBold';
$ThaiBB: 'ThaiSans-Bold';

$maintxt: #253746;
$darkGray: #131e29;
$Blue: #2e3192;
$Cyan: #00bff3;
$OR: #ff4e00;
$Yellow: #fec10d;

@font-face {
    font-family: 'ThaiSans-Regular';
    src: url('../fonts/font_ThaisansRegular/ThaiSansNeue-Regular.eot');
    src: url('../fonts/font_ThaisansRegular/ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_ThaisansRegular/ThaiSansNeue-Regular.woff2') format('woff2'),
         url('../fonts/font_ThaisansRegular/ThaiSansNeue-Regular.woff') format('woff'),
         url('../fonts/font_ThaisansRegular/ThaiSansNeue-Regular.ttf') format('truetype'),
         url('../fonts/font_ThaisansRegular/ThaiSansNeue-Regular.svg#ThaiSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSans-SemiBold';
    src: url('../fonts/font_ThaisansSemiBold/thaisansneue-semibold.eot');
    src: url('../fonts/font_ThaisansSemiBold/thaisansneue-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_ThaisansSemiBold/thaisansneue-semibold.woff2') format('woff2'),
         url('../fonts/font_ThaisansSemiBold/thaisansneue-semibold.woff') format('woff'),
         url('../fonts/font_ThaisansSemiBold/thaisansneue-semibold.ttf') format('truetype'),
         url('../fonts/font_ThaisansSemiBold/thaisansneue-semibold.svg#ThaiSans-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSans-Bold';
    src: url('../fonts/font_ThaisansBold/thaisansneue-bold.eot');
    src: url('../fonts/font_ThaisansBold/thaisansneue-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_ThaisansBold/thaisansneue-bold.woff2') format('woff2'),
         url('../fonts/font_ThaisansBold/thaisansneue-bold.woff') format('woff'),
         url('../fonts/font_ThaisansBold/thaisansneue-bold.ttf') format('truetype'),
         url('../fonts/font_ThaisansBold/thaisansneue-bold.svg#ThaiSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	font-family: $ThaiR;
	font-size: 1em;
	color: $maintxt;
	line-height: normal;
}

a, a:hover{
    text-decoration: none !important;
    outline: 0 !important;
    display: block;
}
input::-moz-focus-inner { 
  border: 0 !important; 
}

ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.mobile-none{
	display: block;
}
.mobile{
	display: none !important;
}

h1{
    font-size: 1.7em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.3em;
}
h4{
    font-size: 1.1em;
}


/*---------- HEADER ----------*/
header{
    
}
.mainmenu{
    
}

/*---------- FOOTER ----------*/
footer{
    
}

/*---------- BUTTON ----------*/

/*top-button*/
.scrolltop{
    display: none;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;	
    z-index: 99;
}
.scroll{
    width: 50px;
    height: 50px;
    //background: #ffb648;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 12px 0;
    margin: 0;
    cursor: pointer !important;
    position: absolute;
    right: 30px;
    bottom: 20px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s; 
    i{
        font-size: 24px;
        color: white;
        text-align: center;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s; 	
    }
    &:hover {
        //background: $OR;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s; 
    }
}


/*---------- CONTENT ----------*/

/*---------- INDEX ----------*/




/*---------- MOBILE ----------*/

@media (max-width: 1199px){
}

@media (max-width: 991px){
    body{
        font-size: 15px;
    }
    
    .mobile-none{
        display:none;
    }
    .mobile{
        display:block !important;
    }
    
    /*.navbar.navbar-default{
        display: block;
    }*/
    
    /*---------- BUTTON ----------*/
    .scroll{
        width: 45px;
        height: 45px;
        right: 15px;
        bottom: 25px;
        //background: rgba(255,182,72,0.8);
        //border: 1px solid white;
        box-shadow: none;
        padding: 10px 0;
        i{
            font-size: 22px;
        }
    }
    
    /*---------- CONTENT ----------*/
    
}

@media (max-width: 767px) {
}